<header>
  <a class="logo" routerLink="/">
    <img src="/assets/images/tff-logo-white.svg" alt="">
  </a>
  <div class="price-line blue-text tooltip">
    <div class="price-line-content">
      <span>
        1 TFT =&nbsp;
      </span>
      <app-amount [amount]="tokenPrice()" decimalMin="0" decimalMax="4"></app-amount>
    </div>
    <div class="price-line-note">
      * Average Monthly Price
    </div>
    <a class="tooltip-body" routerLink="/markets">
      Go to Markets
    </a>
  </div>
    
  <div class="volume-line blue-text tooltip">
    <div class="volume-line-title">
      Monthly Trading Volume:&nbsp;
    </div>
    <app-amount [amount]="tradeVolume()" decimalMin="0" decimalMax="0"></app-amount>
    <a class="tooltip-body" routerLink="/markets">
      Go to Markets
    </a>
  </div>
    
  
  <div class="tips">
    <div class="tip" *ngFor="let currency of currencies.pairs" [class.active]="currencies.current === currency" (click)="setCurrency(currency)">
      {{currencies.names[currency]}}
    </div>
  </div>
  
  <div class="search-line">
    <input type="text" placeholder="Search by Txhash/Block" (keyup.enter)="search()" [(ngModel)]="query">
  </div>
</header>