<header>
  <a class="logo" routerLink="/">
    <img src="/assets/images/tff-logo-white.svg" alt="">
  </a>
  <div class="price-line blue-text">
    <span>
      1 TFT =&nbsp;
    </span>
    <app-amount [amount]="tokenPrice()"></app-amount>
  </div>
  <div class="volume-line blue-text">
    <div class="volume-line-title">
      Daily Trading Volume:&nbsp;
    </div>
    <app-amount [amount]="tradeVolume()" decimalMin="0" decimalMax="0"></app-amount>
  </div>
    
  
  <div class="tips">
    <div class="tip" *ngFor="let currency of currencies.pairs" [class.active]="currencies.current === currency" (click)="setCurrency(currency)">
      {{currencies.names[currency]}}
    </div>
  </div>
  
  <div class="search-line">
    <input type="text" placeholder="Search by Txhash/Block" (keyup.enter)="search()" [(ngModel)]="query">
  </div>
</header>