<app-header></app-header>

<app-loader *ngIf="!item"></app-loader>

<ng-container *ngIf="item">
  <div class="inner-container">
    <div class=" container card">
      <div class="page-title">
        {{hashName(item?.hashType)}}
      </div>

      <!-- Block -->
      <app-block-explorer [item]="item" [id]="id" *ngIf="item?.hashType === 'blockid'"></app-block-explorer>

      <!-- Transaction -->
      <app-transaction-explorer [item]="item" [id]="id" *ngIf="item?.hashType === 'transactionid'"></app-transaction-explorer>

      <!-- Address -->
      <app-address-explorer [item]="item" [id]="id" *ngIf="item?.hashType === 'unlockhash'"></app-address-explorer>
      
    </div>
  </div>
</ng-container>

<app-footer></app-footer>