  <div class="row">
    <div class="row-title">
      Height
    </div>
    <div class="row-data">
      {{item.height}}
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      ID
    </div>
    <div class="row-data">
      {{item._id}}
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      Parent Block
    </div>
    <a class="row-data bold" (click)="newSearch(item.block.rawblock.parentid)">
      {{item.parentId}}
    </a>
  </div>
  <div class="row">
    <div class="row-title">
      Time
    </div>
    <div class="row-data">
      {{item.timeStamp * 1000 | date :'HH:mm' + ', ' + 'MMM dd' + ', ' + 'yyyy'}}
    </div>
  </div>
  <div class="row" *ngIf="item?.lastBlockHeight">
    <div class="row-title">
      Block Confirmation
    </div>
    <div class="row-data">
      {{item?.lastBlockHeight - item.height}}
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      Active BlockStake
    </div>
    <div class="row-data">
      {{item.activeBlockStake}} BS
    </div>
  </div>

  <!-- Miner Payouts -->
<ng-container *ngIf="item.minerPayouts.length > 0">
  <div class="layer"></div>
  <div class="page-subtitle">
    Miner Payouts
  </div>
  <div *ngFor="let payout of item.minerPayouts; let i = index">
    <div class="card">
      <div class="row">
        <div class="row-title">
          ID
        </div>
        <div class="row-data">
          {{payout.minerPayoutId}}
        </div>
      </div>
      <div class="row">
        <div class="row-title">
          Payout Address
        </div>
        <a class="row-data bold" (click)="newSearch(payout.unlockHash)">
          {{payout.unlockHash}}
        </a>
      </div>
      <div class="row">
        <div class="row-title">
          Value
        </div>
        <div class="row-data">
          {{tokens(payout.value) | number : '1.0-8'}} TFT&nbsp;
          <span class="flex">
            ({{symbol('l')}}
            <span *ngIf="currentCurrencyPair() !== 'btcUsd'">
              {{tokenConverter(payout.value) | number: '1.2-3'}}
            </span>
            <span *ngIf="currentCurrencyPair() === 'btcUsd'">
              {{tokenConverter(payout.value) | number: '1.2-8'}}
            </span>
            {{symbol('r')}})
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- Miner Payouts End -->

<!-- Transactions -->
<ng-container *ngIf="item?.transactions.length > 0">
  <div class="layer"></div>
  <div class="page-subtitle">
    Transactions
  </div>
  <div *ngFor="let transaction of item?.transactions">
    <div class="card">
      <div class="row">
        <div class="row-title">
          ID
        </div>
        <a class="row-data bold" (click)="newSearch(transaction._id)">
          {{transaction._id}}
        </a>
      </div>
      <div class="row">
        <div class="row-title">
          Time
        </div>
        <div class="row-data">
          {{transaction.blockInfo.timeStamp * 1000 | date :'HH:mm' + ', ' + 'MMM dd' + ', ' + 'yyyy'}}
        </div>
      </div>
      <div class="row">
        <div class="row-title">
          Coin Input Count
        </div>
        <div class="row-data">
          -
          <!-- {{transaction.rawtransaction.data.coininputs.length}} -->
        </div>
      </div>
      <div class="row">
        <div class="row-title">
          Coin Output Count
        </div>
        <div class="row-data">
          -
          <!-- {{transaction.rawtransaction.data.coinoutputs.length}} -->
        </div>
      </div>
      <div class="row" *ngIf="transaction.blockStakeInputCount > 0">
        <div class="row-title">
          BlockStake Input Count
        </div>
        <div class="row-data">
          {{transaction.blockStakeInputCount}}
        </div>
      </div>
      <div class="row" *ngIf="transaction.blockStakeOutputCount > 0">
        <div class="row-title">
          BlockStake Output Count
        </div>
        <div class="row-data">
          {{transaction.blockStakeOutputCount}}
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- Transactions End -->