<!-- Main info -->
<ng-container>
  <div class="row">
    <div class="row-title">
      ID
    </div>
    <div class="row-data">
      <!-- {{item._id}} -->
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      No. Transactions
    </div>
    <div class="row-data">
      <!-- {{item.parentId}} -->
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      Total Received
    </div>
    <div class="row-data">
      - TFT
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      Final Balance
    </div>
    <div class="row-data">
      - TFT
    </div>
  </div>
</ng-container>

<!-- Coin Appearances -->
<div class="card card-transactions">
  <div class="page-subtitle">
    Coin Appearances
    <a class="chip peach big" (click)="item.transactionsHidden = !item.transactionsHidden">
      {{item.transactionsHidden ? 'Show all' : 'Hide all'}}
    </a>
  </div>
  <div class="rows-wrapper">
    <div class="card-title flex-column align-center">
      <div class="row">
        <div class="row-title">
          Transaction:
        </div>
        <a class="row-data bold">
          a2ee0aa706c9de46ec57dbba1af8d352fbcc3cc5e9626fc56337fd5e9ca44c80
        </a>
        <a class="row-data bold">
          (#12)
        </a>
        
      </div>
      <!-- <div class="row">
        <div class="row-title">
          Block Height:
        </div>
        <div class="row-data">
          <a class="bold">
            15
          </a>
          &nbsp;(130 confirmations)
        </div>
      </div> -->
    </div>
    <div class="flex-between align-center">
      <div class="date">
        22.05.2018 12:28
      </div>
      <div class="middle-col">
        <div class="row">
          <div class="row-title">
            From:
          </div>
          <div class="row-data">
            01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58893
          </div>
        </div>
        <div class="small-layer"></div>
        <div class="row">
          <div class="row-title">
            To:
          </div>
          <div class="row-data">
            <div class="flex align-center">
              <a class="bold">
                01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58899
              </a>
              <div class="layer"></div>
              <div class="red-text bold">100 TFT</div>
            </div>
            <div class="flex align-center">
              <a class="bold">
                01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58890
              </a>
              <div class="layer"></div>
              <div class="red-text bold">10 TFT</div>
            </div>
            <div class="flex align-center">
              <a class="bold">
                01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58891
              </a>
              <div class="layer"></div>
              <div class="red-text bold">40 TFT</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="chip red sum">
          -150.00 TFT
        </div>
        <div class="flex-center balance">Balance: 200.00 TFT</div>
      </div>
    </div>
  </div>
  <div class="rows-wrapper">
    <div class="card-title flex-column align-center">
      <div class="row">
        <div class="row-title">
          Transaction:
        </div>
        <a class="row-data bold">
          a2ee0aa706c9de46ec57dbba1af8d352fbcc3cc5e9626fc56337fd5e9ca44c8d
        </a>
      </div>
      <!-- <div class="row">
        <div class="row-title">
          Block Height:
        </div>
        <div class="row-data">
          <a class="bold">
            12
          </a>
          &nbsp;(130 confirmations)
        </div>
      </div> -->
    </div>
    <div class="flex-between align-center">
      <div class="date">
        21.05.2018 12:28
      </div>
      <div class="layer"></div>
      <div class="middle-col">
        <div class="row">
          <div class="row-title">
            From:
          </div>
          <div class="row-data">
            01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58893
          </div>
        </div>
        <div class="layer"></div>
        <div class="row">
          <div class="row-title">
            To:
          </div>
          <div class="row-data">
            <div class="flex align-center">
              <a class="bold">
                01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58895
              </a>
              <div class="layer"></div>
              <div class="red-text bold">100 TFT</div>
            </div>
          </div>
        </div>
      </div>
      <div class="layer"></div>
      <div>
        <div class="chip red sum">
          -100.00 TFT
        </div>
        <div class="flex-center balance">Balance: 350.00 TFT</div>
      </div>
    </div>
  </div>
  <div class="rows-wrapper">
    <div class="card-title flex-column align-center">
      <div class="row">
        <div class="row-title">
          Transaction:
        </div>
        <a class="row-data bold">
          a2ee0aa706c9de46ec57dbba1af8d352fbcc3cc5e9626fc56337fd5e9ca44c89
        </a>
      </div>
      <!-- <div class="row">
        <div class="row-title">
          Block Height:
        </div>
        <div class="row-data">
          <a class="bold">
            1
          </a>
          &nbsp;(130 confirmations)
        </div>
      </div>
      <div class="row">
        <div class="row-title">
          Unlocked at:
        </div>
        <div class="row-data">
          3:00, Aug 21, 2018
        </div>
      </div> -->
    </div>
    <div class="layer"></div>
    <div class="flex-between align-center">
      <div class="date">
        10.05.2018 12:28
      </div>
      <div class="layer"></div>
      <div class="middle-col">
        <div class="row">
          <div class="row-title">
            From:
          </div>
          <a class="row-data bold">
            01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58123
          </a>
        </div>
        <div class="small-layer"></div>
        <div class="row">
          <div class="row-title">
            To:
          </div>
          <div class="row-data">
            <div class="flex align-center">
              <div>
                01746677df456546d93729066dd88514e2009930f3eebac3c93d43c88a108f8f9aa9e7c6f58893
              </div>
              <div class="layer"></div>
              <div class="green-text bold">450 TFT</div>
            </div>
          </div>
        </div>
      </div>
      <div class="layer"></div>
      <div>
        <div class="chip green sum">
          450.00 TFT
        </div>
      </div>
    </div>
  </div>
 
</div>

<!-- Miner Payout Appearances -->
<ng-container>
 <div class="card">
    <div class="page-subtitle">
      Miner Payout Appearances
      <a class="chip peach big" (click)="item.minerpayoutputsHidden = !item.minerpayoutputsHidden">
        {{item.minerpayoutputsHidden ? 'Show all' : 'Hide all'}}
      </a>
    </div>
    <ng-container>
      <div class="rows-wrapper">
        <div class="row">
          <div class="row-title">
            Block Height
          </div>
          <a class="row-data bold" (click)="newSearch('')">
            <!-- {{block.blockid}} -->
          </a>
        </div>
        <div class="row">
          <div class="row-title">
            Miner Payout ID
          </div>
          <a class="row-data">
            <!-- {{minerpayoutid}} -->
          </a>
        </div>
        <div class="row">
          <div class="row-title">
            Payout Address
          </div>
          <div class="row-data">
            <!-- {{id}} -->
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Value
          </div>
          <div class="row-data">
            TFT
            <!-- {{tokens(block.rawblock.minerpayouts[j].value) | number : '1.0-8'}} TFT&nbsp;
            <span class="flex">
              ({{symbol('l')}}
              <span *ngIf="currentCurrencyPair() !== 'btcUsd'">
                {{tokenConverter(block.rawblock.minerpayouts[j].value) | number: '1.2-3'}}
              </span>
              <span *ngIf="currentCurrencyPair() === 'btcUsd'">
                {{tokenConverter(block.rawblock.minerpayouts[j].value) | number: '1.2-8'}}
              </span>
              {{symbol('r')}})
            </span> -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<!-- Blockstake Appearances -->
<ng-container>
  <div class="card">
    <div class="page-subtitle">
      Blockstake Output Appearances
      <a class="chip peach big" (click)="item.blockstakeoutputsHidden = !item.blockstakeoutputsHidden">
        {{item.blockstakeoutputsHidden ? 'Show all' : 'Hide all'}}
      </a>
    </div>
    <ng-container>
      <div class="rows-wrapper">
        <div class="row">
          <div class="row-title">
            Block Height
          </div>
          <a class="row-data bold" (click)="newSearch('')">
            <!-- {{transaction.height}} -->
          </a>
        </div>
        <div class="row">
          <div class="row-title">
            Parent Transaction
          </div>
          <a class="row-data bold" (click)="newSearch('')">
            <!-- {{transaction.id}} -->
          </a>
        </div>
        <div class="row">
          <div class="row-title">
            ID
          </div>
          <div class="row-data">
            <!-- {{blockstakeoutputid}} -->
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Address
          </div>
          <div class="row-data">
            <!-- {{id}} -->
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Value
          </div>
          <div class="row-data">
            <div class="row-data">
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
