<!-- Main info -->
<ng-container>
  <div class="row">
    <div class="row-title">
      ID
    </div>
    <div class="row-data">
      {{item._id}}
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      No. Transactions
    </div>
    <div class="row-data">
      {{item.transactionsCount}}
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      Total Received
    </div>
    <div class="row-data">
      {{tokens(item.totalReceived) | number : '1.0-6'}} TFT
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      Final Balance
    </div>
    <div class="row-data">
    {{tokens(item.balance) | number : '1.0-6'}} TFT&nbsp;
      <span class="flex">
        ({{symbol('l')}}
        <span *ngIf="currentCurrencyPair() !== 'btcUsd'">
          {{tokenConverter(item.balance) | number: '1.2-3'}}
        </span>
        <span *ngIf="currentCurrencyPair() === 'btcUsd'">
          {{tokenConverter(item.balance) | number: '1.2-8'}}
        </span>
        {{symbol('r')}})
      </span>
    </div>
  </div>
</ng-container>

<!-- Coin Appearances -->
<ng-container *ngIf="item.transactionsCount > 0">
    <div class="card card-transactions">
      <div class="page-subtitle">
        Coin Appearances
        <a class="chip peach big" (click)="item.transactionsHidden = !item.transactionsHidden">
          {{item.transactionsHidden ? 'Show all' : 'Hide all'}}
        </a>
      </div>
      <ng-container *ngIf="!item.transactionsHidden">
        <div  *ngFor="let transaction of item.transactions | paginate: { id: 'transactionsPaginator', itemsPerPage: paginator.limit , currentPage: paginator.current.transactions, totalItems:
        item.transactionsCount }" class="rows-wrapper">
          <div class="card-title">
            <div class="flex-center align-center flex-wrap">
              Transaction:&nbsp;
              <a class="row-data bold" (click)="newSearch(transaction._id)">
                {{transaction._id}}
              </a>
              <div class="small-layer"></div>
              /&nbsp;Block&nbsp;
              <a class="row-data bold" (click)="newSearch(transaction.blockId)">
                #{{transaction.blockId}}
              </a>
            </div>
          </div>
          <div class="cols-wrapper">
            <div class="left-col">
              <div class="date">
                {{ transaction.timeStamp * 1000 | date :'MMM dd' + ', ' + 'yyyy' + ' ' + 'HH:mm'}}
              </div>
              <div class="big-layer"></div>
              <div>
                <div class="row">
                  <div class="row-title">
                    From:
                  </div>
                  <a class="row-data bold address-link" (click)="newSearch(transaction.from)">
                    {{transaction.from}}
                  </a>
                </div>
                <div class="small-layer"></div>
                <div class="row">
                  <div class="row-title">
                    To:
                  </div>
                  <div class="row-data">
                    <div *ngFor="let recipient of transaction.motion" class="flex align-start">
                      <a class="bold address-link" (click)="newSearch(recipient.to)">
                        {{recipient.to}}
                      </a>
                      <div class="layer"></div>
                      <div>
                        <div class="bold sum-wrapper" [class.red-text]="!transaction.isLoading" [class.green-text]="transaction.isLoading">
                          {{tokens(recipient.value) | number : '1.0-6'}} TFT
                        </div>
                        <div class="flex-center pink-text unlock-text" *ngIf="recipient.lockTime" title="Unlocked at">
                        {{recipient.lockTime * 1000 | date :'MMM dd' + ', ' + 'yyyy' + ' ' + 'HH:mm'}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="big-layer"></div>
            <div class="right-col">
              <div class="chip sum" [class.red]="!transaction.isLoading" [class.green]="transaction.isLoading">
                <div>
                  {{ !transaction.isLoading ? '-' : ''}}{{tokens(transaction.coinsSumm) | number : '1.0-6' }} TFT
                </div>
                <span class="flex-center small">
                  ({{symbol('l')}}
                  <span *ngIf="currentCurrencyPair() !== 'btcUsd'">
                    {{tokenConverter(transaction.coinsSumm, transaction.rates) | number: '1.2-3'}}
                  </span>
                  <span *ngIf="currentCurrencyPair() === 'btcUsd'">
                    {{tokenConverter(transaction.coinsSumm, transaction.rates) | number: '1.2-8'}}
                  </span>
                  {{symbol('r')}})
                </span>
              </div>
              <div class="balance small" *ngIf="!transaction.isLoading">
                Balance: {{tokens(transaction.balanceAfter) | number : '1.0-6'}} TFT&nbsp;
                <span class="flex-center">
                  ({{symbol('l')}}
                  <span *ngIf="currentCurrencyPair() !== 'btcUsd'">
                    {{tokenConverter(transaction.balanceAfter, transaction.rates) | number: '1.2-3'}}
                  </span>
                  <span *ngIf="currentCurrencyPair() === 'btcUsd'">
                    {{tokenConverter(transaction.balanceAfter, transaction.rates) | number: '1.2-8'}}
                  </span>
                  {{symbol('r')}})
                </span>
              </div>
              <div class="small-layer"></div>
              <div class="blue-text bold small flex-center" *ngIf="item?.lastBlockHeight">
                {{item?.lastBlockHeight - transaction.blockId}} Confirmations
              </div>
            </div>
          </div>
        </div>
        <div class="flex-center">
          <pagination-controls id="transactionsPaginator" autoHide="true" (pageChange)="pageChanged($event, 'transactions')"></pagination-controls>
        </div>
      </ng-container>
    </div>
</ng-container>

<!-- Miner Payout Appearances -->
<ng-container *ngIf="item.minerPayoutsCount > 0">
 <div class="card">
    <div class="page-subtitle">
      Miner Payout Appearances
      <a class="chip peach big" (click)="item.minerpayoutputsHidden = !item.minerpayoutputsHidden">
        {{item.minerpayoutputsHidden ? 'Show all' : 'Hide all'}}
      </a>
    </div>
    <ng-container *ngIf="!item.minerpayoutputsHidden">
      <div *ngFor="let payout of item.minerPayouts | paginate: { id: 'minerPayoutsPaginator', itemsPerPage: paginator.limit , currentPage: paginator.current.minerPayouts, totalItems:
      item.minerPayoutsCount }" class="rows-wrapper">
        <div class="row">
          <div class="row-title">
            Block Height
          </div>
          <a class="row-data bold" (click)="newSearch('')">
            {{payout.blockHeigth}}
          </a>
        </div>
        <div class="row">
          <div class="row-title">
            Miner Payout ID
          </div>
          <div class="row-data">
            {{payout.minerPayoutId}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Payout Address
          </div>
          <div class="row-data">
            {{payout.unlockHash}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Value
          </div>
          <div class="row-data">
            {{tokens(payout.value) | number : '1.0-6'}} TFT&nbsp;
            <span class="flex">
              ({{symbol('l')}}
              <span *ngIf="currentCurrencyPair() !== 'btcUsd'">
                {{tokenConverter(payout.value, payout.rates) | number: '1.2-3'}}
              </span>
              <span *ngIf="currentCurrencyPair() === 'btcUsd'">
                {{tokenConverter(payout.value, payout.rates) | number: '1.2-8'}}
              </span>
              {{symbol('r')}})
            </span>
          </div>
        </div>
      </div>
      <div class="flex-center">
        <pagination-controls id="minerPayoutsPaginator" autoHide="true" (pageChange)="pageChanged($event, 'minerPayouts')"></pagination-controls>
      </div>
    </ng-container>
  </div>
</ng-container>

<!-- Blockstake Appearances -->
<ng-container *ngIf="item.blockStakeMotionCount > 0">
  <div class="card">
    <div class="page-subtitle">
      Blockstake Appearances
      <a class="chip peach big" (click)="item.blockstakeoutputsHidden = !item.blockstakeoutputsHidden">
        {{item.blockstakeoutputsHidden ? 'Show all' : 'Hide all'}}
      </a>
    </div>
    <ng-container *ngIf="!item.blockstakeoutputsHidden">
      <div *ngFor="let blockstake of item.blockStakeMotion | paginate: { id: 'blockStakeMotionPaginator', itemsPerPage: paginator.limit , currentPage: paginator.current.blockStakeMotion, totalItems:
      item.blockStakeMotionCount }" class="rows-wrapper">
        <div class="row">
          <div class="row-title">
            Block Height
          </div>
          <a class="row-data bold" (click)="newSearch(blockstake.blockHeigth)">
            {{blockstake.blockHeigth}}
          </a>
        </div>
        <div class="row">
          <div class="row-title">
            Parent Transaction
          </div>
          <a class="row-data bold" (click)="newSearch(blockstake.parentTransaction)">
            {{blockstake.parentTransaction}}
          </a>
        </div>
        <div class="row" *ngIf="!blockstake.isInput">
          <div class="row-title">
            ID
          </div>
          <div class="row-data">
            {{blockstake.id}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Address
          </div>
          <div class="row-data">
            {{blockstake.address}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Value
          </div>
          <div class="row-data">
            <div class="chip big sum" [class.red]="!blockstake.isInput" [class.green]="blockstake.isInput">
              {{!blockstake.isInput ? '-': ''}}{{blockstake.value}} blockstakes
            </div>
          </div>
        </div>
      </div>
      <div class="flex-center">
        <pagination-controls id="blockStakeMotionPaginator" autoHide="true" (pageChange)="pageChanged($event, 'blockStakeMotion')"></pagination-controls>
      </div>
    </ng-container>
  </div>
</ng-container>
