
.card-transactions  .chip.sum{
  font-size: 15px;
  width: 100%;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 10px 1px;
}
.card-transactions .row{
  font-size: 14px;
  margin-bottom: 5px;
  align-items: flex-start;
}
.card-transactions .row-title{
  width: unset;
  min-width: 40px;
  margin-right: 5px;
  text-align: left;
}
.card-transactions .balance{
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}
.card-transactions .left-col{
  display: flex;
}
.card-transactions .right-col{
  min-width: 160px;
  max-width: 180px;
}
.card-transactions .date{
  text-align: center;
  font-weight: 600;
  color: #cfdef8;
  max-width: 100px;
  min-width: 100px;
}
.card-transactions .card-title{
  font-size: 15px;
}
.card-transactions .small{
  font-size: 11px;
}