
.card-transactions  .chip.sum{
  font-size: 15px;
  min-width: 115px;
  border-radius: 1px;
  padding: 10px 15px;
}
.card-transactions .row{
  font-size: 14.5px;
  margin-bottom: 5px;
}

.card-transactions .row-title{
  width: unset;
  min-width: 40px;
  margin-right: 5px;
  text-align: left;
}
.balance{
  padding-top: 5px;
  font-weight: bold;
}
.middle-col{
  min-width: 70%;
  max-width: 70%;
}
.date{
  font-weight: 600;
  color: #cfdef8;
}