<app-header></app-header>
<div class="inner-container">
  <div class="page-container">
    <div class="flex-between cols-wrapper">
      <div class="left-col">
        <div class="card">
          <div class="flex-center">
            <div class="middle-num">
              Current Block #{{lastBlock?.height}}
            </div>
          </div>
          <div class="small-layer"></div>
          <div class="flex-center break">
            ID: {{lastBlock?._id}}
          </div>
        </div>
        <div class="small-layer"></div>
        <div class="flex supply-line">
          <div class="card">
            <div class="full-width flex-center flex-wrap">
              <div>
                <div class="bordered">
                  <div class="card-title">
                    Total Supply*
                  </div>
                  <div class="big-num">
                    {{getTechData('totalSupply') | number: '1.0-0'}}
                  </div>
                  <div class="small-layer"></div>
                </div>
                <div class="small-layer"></div>
                <div>
                  <div class="card-title">
                    Circulating Supply
                  </div>
                  <div class="big-num">
                    {{getTechData('circulatingSupply') | number: '1.0-0'}}
                  </div>
                </div>
              </div>
              
              <div class="big-layer"></div>
              <div>
                <div class="bordered">
                  <div class="flex-center flex-wrap">
                    <div>
                      <div class="card-title">
                        Total Token Capitalization
                      </div>
                      <div class="big-num">
                        <app-amount [amount]="totalTokenCapitalization()" fixedDecimal="true"></app-amount>
                      </div>
                    </div>
                    <div class="big-layer"></div>
                    <div>
                      <div class="card-title">
                        Max Supply
                      </div>
                      <div class="big-num">
                        {{getTechData('maxSupply') | number: '1.0-1'}}
                      </div>
                    </div>
                  </div>
                  <div class="small-layer"></div>
                </div>
                <div class="small-layer"></div>
                <div class="tooltip">
                  <div class="card-title">
                    Revenue Per Circulating Token, 5 Year Potential
                  </div>
                  <div class="big-num">
                    <app-amount [amount]="revenuePerCirculatingToken()" decimalMin="2" decimalMax="2"></app-amount>
                  </div>
                  <a class="tooltip-body middle" href="https://github.com/threefoldfoundation/info_grid/blob/development/docs/concepts/commercial_token_value_calculation.md" target="_blank">
                    Go to Token value calculation
                  </a>
                </div>
              </div>
            </div>
            <div class="card-note-text padding">
              * Most of the tokens are locked and not liquid. More info will come soon
            </div>
          </div>
        </div>
        <div class="small-layer"></div>
        <div class="flex stats-line">
          <div class="full-width flex stats-line-row">
            <div class="card auto flex-grow">
              <div class="card-title">
                Grid Capacity, Units*
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getTechData('computeUnitsTotal', 'k') | number: '1.1-1'}}K
                  </div>
                  <div class="card-subtitle">
                    Compute Units
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getTechData('storageUnitsTotal', 'k') | number: '1.1-1'}}K
                  </div>
                  <div class="card-subtitle">
                    Storage Units
                  </div>
                </div>
              </div>
              <div class="card-note-text left padding">
                * Not all capacity is online
              </div>
            </div>
            <div class="small-layer"></div>
            <div class="card auto flex-grow">
              <div class="card-title">
                Grid Capacity*
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getTechData('storageUnitsCores', 'k') | number: '1.1-1'}}K
                  </div>
                  <div class="card-subtitle">
                    Cores
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getTechData('storageUnitsTB', 'k') | number: '1.0-0'}}K TB
                  </div>
                  <div class="card-subtitle">
                    Storage
                  </div>
                </div>
              </div>
              <div class="card-note-text left padding">
                * Not all capacity is online
              </div>
            </div>
          </div>
          <div class="small-layer"></div>
          <div class="full-width flex stats-line-row">
            <div class="card auto  flex-grow">
              <div class="card-title">
                AVG Unit Price
              </div>
              <div class="flex" *ngIf="currentCurrencyPair() !== 'btcUsd'">
                <div class="flex-no-shrink">
                  <div class="big-num pink-text">
                    <app-amount [amount]="getConvertedData('computeUnitPriceUSD')" ></app-amount>
                  </div>
                  <div class="card-subtitle">
                    Compute Unit
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num peach-text">
                    <app-amount [amount]="getConvertedData('storageUnitPriceUSD')"></app-amount>
                  </div>
                  <div class="card-subtitle">
                    Storage Unit
                  </div>
                </div>
              </div>
              <div class="flex-column" *ngIf="currentCurrencyPair() === 'btcUsd'">
                <div class="flex-no-shrink">
                  <div class="middle-num pink-text">
                    <app-amount [amount]="getConvertedData('computeUnitPriceUSD')"></app-amount>
                  </div>
                  <div class="card-subtitle">
                    Compute Unit
                  </div>
                </div>
                <div class="small-layer"></div>
                <div class="flex-no-shrink">
                  <div class="middle-num peach-text">
                    <app-amount [amount]="getConvertedData('storageUnitPriceUSD')"></app-amount>
                  </div>
                  <div class="card-subtitle">
                    Storage Unit
                  </div>
                </div>
              </div>
            </div>
            <div class="small-layer"></div>
            <div class="card auto flex-grow">
              <div class="card-title">
                5 Years Network Revenue
              </div>
              <div class="flex-no-shrink">
                <div class="big-num">
                  <app-amount [amount]="getConvertedData('fiveYearsNetworkRevenue')" fixedDecimal="true"></app-amount>
                </div>
                <div class="card-subtitle">
                  With full utilization
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="small-layer"></div>
        <div class="card" *ngIf="tftPriceBTCAlpha.tft_btc.length || tftPriceBTCAlpha.tft_usd.length">
          <div class="card-title">
            TFT token price chart
          </div>
           <app-token-price-highchart [TFT_BTC]="tftPriceBTCAlpha.tft_btc" [TFT_USD]="tftPriceBTCAlpha.tft_usd"></app-token-price-highchart>
        </div>
        <div class="small-layer"></div>
        <app-nodes-maps [peers]="peers" *ngIf="peers.length > 0"></app-nodes-maps>
      </div>
      <div class="right-col">
        <div class="card full-height">
          <div class="card-title">
            Recent blocks
          </div>
          <div class="blocks-wrapper">
            <div class="row" *ngFor="let block of lastBlocks">
              <div class="row-icon">
                <img src="assets/images/icons8-brick-64.png" alt="">
              </div>
              <div>
                <div class="flex align-center flex-wrap">
                  <a class="row-title" (click)="search(block?.height)">
                    Block #{{block?.height}}
                  </a>
                  <div class="small-layer"></div>
                  <div class="chip green">{{block.ago}}</div>
                </div>
                <div class="row-info">
                  <a class="big-data-container" (click)="search(block?._id)">
                    ID: {{block?._id}}
                  </a>
                </div>
                <div class="row-info">
                  <a class="big-data-container" (click)="search(block?.parentId)">
                    Parent ID: {{block?.parentId}}
                  </a>
                </div>
                <div class="row-info bold">
                  Block Reward:
                  {{tokens(block?.minerReward) | number : '1.0-3'}} TFT 

                  (<app-amount [amount]="tokenConverter(block)"></app-amount>)

                  &nbsp;/&nbsp; {{block?.transactionsCount}} txns
                </div>
                <div class="row-info">
                  Active BlockStake: {{block?.activeBlockStake}} BS
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>