<app-header></app-header>

<div class="inner-container">
  <div class="container card">
    <div class="page-title">
      Markets
    </div>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>
              Name of the exchange
            <th>
              Pair of the market
            </th>
            <th>Volume 30 days</th>
            <th>Average weighted price</th>
            <th>% of the total volume</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>AAC</td>
            <td>AUSTRALIAN COMPANY </td>
            <td>$1.38</td>
            <td>+2.01</td>
            <td>-0.36%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
