
<div class="flex maps-line">
  <div class="card" [class.full-screen]="geoMap.fullScreen">
    <div class="card-title">
      Registered Nodes
    </div>
    <a (click)="fullScreen('geoMap')">
      <i class="fas fa-arrows-alt"></i>
    </a>
    <div class="map-wrapper" leaflet (leafletMapReady)="onGeoMapReady($event)" [leafletOptions]="geoMap.options" [leafletLayers]="geoMap.layers">
    </div>
  </div>
  <div class="small-layer"></div>
  <div class="card" [class.full-screen]="heatMap.fullScreen">
    <div class="card-title">
      Heat Map of Nodes and Cloud Units
    </div>
    <a (click)="fullScreen('heatMap')">
      <i class="fas fa-arrows-alt"></i>
    </a>
    <div class="map-wrapper" leaflet (leafletMapReady)="onHeatMapReady($event)" [leafletOptions]="heatMap.options">
    </div>
  </div>
</div>